html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background-color: 	#073642;
    margin: 0;
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin-bottom: 1em;
}


.navbar-custom {
    background-color: #022129;
}

.navbar-custom .navbar-brand{
    color: rgb(181, 245, 224);
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
    font-size: 3.4rem;
    margin-right: 2em;
}

.link-text {
    font-size: 2.4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-decoration: none;
}

.titles{
    font-family:'Courier New', Courier, monospace;
    font-size: 6.4rem;
    font-weight: 700;
    color: white;
    background-color: #022129;
    padding: 1rem;
}

.descriptions {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    color:white;
}

.bg-sections{
    background-color: #002b36;
}

.solid-divider {
    border-top: 2px solid #eee;
}

.sub-titles{
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: white;
}

.skills-label {
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0;
}

.skills-label-div {
    background-color: #002b36;
    padding-top: 4.4rem;
    border-bottom: 2px solid #073642;
}

.content-block {
    margin-bottom: 2rem;
}

.text-block {
    padding-top: 2rem;
    padding-right: 2rem;
}

.title-icon {
    font-size: 10rem;
    font-weight: 700;
    color: white;
    padding: 1.5rem 5rem;
    float: left;
}

.skills-icon {
    background-color: #002b36; 
    text-align: center;
    border-right: 2px solid #073642;
    border-bottom: 2px solid #073642;
}

.projects-entry {
    padding: 2rem 2rem;
    border-bottom: 2px solid #073642;
}

.btn-projects {
    width: 10rem;
    font-size: 1.6rem;
}