html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    background-color: 	#073642;
    margin: 0;
}

h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    margin-bottom: 1em;
}

footer {
    background-color: #022129;
    text-align: center;
}


.navbar-custom {
    background-color: #022129;
}

.navbar-custom .navbar-brand{
    color: rgb(181, 245, 224);
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
    font-size: 3.4rem;
    margin-right: 2%;
}

.link-text {
    font-size: 2.4rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-decoration: none;
}

.titles{
    font-family:'Courier New', Courier, monospace;
    font-size: 6.4rem;
    font-weight: 700;
    color: white;
    background-color: #022129;
    padding: 1rem;
}

.descriptions {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    color:white;
}

.bg-sections{
    background-color: #002b36;
}

.solid-divider {
    border-top: 2px solid #eee;
}

.sub-titles{
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: white;
}

.skills-label {
    font-family: 'Roboto', sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 0;
}

.skills-label-div {
    background-color: #002b36;
    padding-top: 4.4rem;
    border-bottom: 2px solid #073642;
}

.content-block {
    margin-bottom: 2rem;
}

.text-block {
    padding-top: 2rem;
    padding-right: 2rem;
}

.title-icon {
    font-size: 10rem;
    font-weight: 700;
    color: white;
    padding: 1.5rem 5rem;
    float: left;
}

.skills-icon {
    background-color: #002b36; 
    text-align: center;
    border-right: 2px solid #073642;
    border-bottom: 2px solid #073642;
}

.projects-entry {
    padding: 2rem 2rem;
    border-bottom: 2px solid #073642;
}

.btn-projects {
    width: 10rem;
    font-size: 1.6rem;
}

.screenshots {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    object-fit: cover;
    object-position: 50% 50%;
}

.socials-icons {
    font-size: 4rem;
    padding: 0 1rem;
    color: #268bd2;
}

.footer-text{
    font-size: 1.8rem;
    color: whitesmoke;
    margin: 0;
}



@media (max-width: 575px) {
    .title-icon {
        float: none;
        text-align: center;
    }

    .navbar-custom .navbar-brand{
        font-size: 2.4rem;   
    }

    .titles{
        font-size: 3.4rem;
        padding: 1rem;
    }

    .descriptions {
        font-size: 1.4rem;
    }

    .skills-label {
        font-size: 2.4rem;
    }
    
    .sub-titles{
        font-size: 2.2rem;
    }
}

@media (max-width: 767px) {
    .title-icon {
        float: none;
        text-align: center;
    }

    .navbar-custom .navbar-brand{
        font-size: 2.6rem;   
    }

    .titles{
        font-size: 3.6rem;
        padding: 1rem;
    }

    .descriptions {
        font-size: 1.6rem;
    }

    .skills-label-div {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .skills-label {
        font-size: 2.6rem;
    }
    
    .sub-titles{
        font-size: 2.4rem;
    }

    .skills-icon {
        background-color: #002b36; 
        text-align: center;
        border-right: none;
        border-bottom: 2px solid #073642;
    }
}